body {
    height: 100vh;
    /*background-color: black;
    background-image: url(../image/wallpaper002.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;*/
    display: flex;
    align-items: center;
    justify-content: center;

    background: black url(../image/wallpaper002.jpg) center top no-repeat fixed;
    background-size: cover;

}

main {
    background-color: white;
    max-width: 400px;
    padding: 10px;
    margin: auto;
    border: 1px solid darkblue;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 0px 25px white;
}

main:hover {
    background-color: black;
    color: white;
    box-shadow: 0px 0px 25px black;
}