#container {
    background-image: url(../image/target001.png);
    background-size: 100% 100%;
    position: relative;
    height: 80vh;
    padding: 10px;
    background-color: gray;
}

#content {
    background-image: url(../image/target001.png);
    background-size: 100% 100%;
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: red;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    text-align: center;
}