@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 400px;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    padding: 10px;
}

td.r {
    background-color: red;
}

td.g {
    background-color: green;
}

td.b {
    background-color: blue;
}